@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
#suspects::-webkit-scrollbar {
  width: 16px;
}

/* Track */
#suspects::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 8px;
}

/* Handle */
#suspects::-webkit-scrollbar-thumb {
  background: #fe0000;
  border-radius: 8px;
}

/* Handle on hover */
#suspects::-webkit-scrollbar-thumb:hover {
  background: #590000;
}

.mobile {
  display: block;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }
}